.App {
  height: 100%;
  background: var(--color-background);
  color: var(--color-foreground);
}

.App.dark {
  height: 100%;
  background: var(--color-background);
  color: var(--color-foreground);
}

html {
  --light-background: #f8fafd;
  --light-text: #efefef;
  --deep-light: #ffffff;
  --deep-dark: #1f2023;
  --dark-background: #121212;
  --dark-text: #121212;
  --dark-hover: #121212;
  --light-hover: #f2f2f2;

  --color-background: var(--light-background);
  --color-foreground: var(--dark-text);
  --deep-color-background: var(--deep-light);
  --deep-color-foreground: var(--deep-dark);
  --hover-color: var(--light-hover);

  background: var(--color-background);
}

html.dark {
  --color-background: var(--dark-background);
  --color-foreground: var(--light-text);
  --deep-color-background: var(--deep-dark);
  --deep-color-foreground: var(--deep-light);
  --hover-color: var(--dark-hover);

  background: var(--color-background);
}
