.Team {
  min-width: 20vw;
  margin-top: 1rem;
}

.TeamBioImage {
  padding: 0;
  margin: 0;
  max-width: 160px;
  max-height: 50px;
  margin-right: auto;
  margin-bottom: 0.5rem;
}

.Block .TeamBioCardHeaderText {
  font-size: 2rem;
}
